body {
    background-color: ;
}

header {
    background-color: darkgray;
    color: white;
    font-family: 'Share', cursive;
    font-size: 400%;
    /* font-weight: bold; */
    text-align: center;
    border-bottom: 5px solid black;
    margin-bottom: 1%;
}

 /* .container {
    width: 100%;
    height: 400px;
    background-color: slategray;
    border: 1px solid black;
    margin-bottom: 10%;
}  */

#nav {
    background-color: #e6e6e6;
    font-family: 'Share', cursive;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: auto;
    width: auto;
    margin-top: 2%;
    margin-right: 0%;
}

#search {
    margin-left: 5%;
    margin-top: 5%;
}

#content {
    background-color: transparent;
    font-family: 'Share', cursive;
    border: 1px solid black;
    height: auto;
    width: auto;
    margin-top: 2%;    
}

#weather-info {
    margin-top: 2%;
}


#footer {
    clear: both;
    padding: 15px;
    background-color: darkgray;
    color: white;
    text-align: center;
    border-top: 2px solid #777777;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} 